.artist-show__top
  - if @artist.artistimage?
    .artist-show__top--background{ style: "background-image: url(#{@artist.artistimage})"}
  - else 
    .artist-show__top--background
  .artist-show__top--artist
    = @artist.artistname
.artist-show__content
  .artist-show__content__left
    .artist-show__content__left--image
      - if @artist.artistimage?
        = image_tag (@artist.artistimage.url),size: "300x300"
      - else
        = image_tag "/assets/default.png"
    %ul.artist-show__content__left__menulist
      %li= link_to "アーティスト情報編集", edit_artist_registration_path, class: "artist-show__menulist--edit"
      %li= "フォロワー数：#{@artist.followartists.count}"
      %li= "投稿数：#{@artist.posts.count}"
    - if listener_signed_in?
      .artist-show__content__left--follow
        - if @artist.followartist_by?(current_listener)
          = link_to "フォロー解除", artistshow_followartists_path(@artist.id), method: :delete
        - else
          = link_to "フォローする", artistshow_followartists_path(@artist.id), method: :post
  .artist-show__content__right
    .artist-show__content__right__top
      .artist-show__content__right__top--title
        ARTIST PROFILE
      .artist-show__content__right--profile
        %P= @artist.profile
    .artist-show__content__right__bottom
      .artist-show__content__right__bottom--posttitle
        過去の投稿一覧
      .artist-show__content__right__bottom__posts
        - @posts.each do |post|
          .artist-show__content__right__bottom__posts--text
            = link_to "#{post.text.truncate(106)}", post_path(@artist)
            %br
            = post.created_at
      .index-paginate
        = paginate(@posts)
