.devise-registration
  .devise-registration__header
  .devise-registration__main
    .devise-registration__main__top 会員情報変更
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "user__form", method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        %label.field--title ニックネーム
        %span.field--span 必須
        %br/
        = f.text_field :nickname, class: "field-input"
      .field
        %label.field--title メールアドレス
        %span.field--span 必須
        %br/
        = f.email_field :email, autocomplete: "email", class: "field-input"
      .field
        %label.field--title パスワード
        %span.field--span 必須
        %br/
        = f.password_field :current_password, autocomplete: "current-password", class: "field-input"
        %br
        ※現在のパスワードを入力してください。
      .actions
        = f.submit "編集完了",class: "submit"