.index-content__right__listener-signedin{ style: "background-image: url('/assets/listener.jpg')"}
  .listener-signedin--text
    リスナー新規登録はこちら
  = link_to "", new_listener_registration_path
.index-content__right__artist-signedin{ style: "background-image: url('/assets/artist.jpg')"}
  .artist-signedin--text
    アーティスト新規登録はこちら
  = link_to "", new_artist_registration_path
.index-content__right__newartist
  .index-content__right__newartist--title
    新着アーティスト
  .index-content__right__newartist--content
    - @artists.each do |artist|
      .newartist
        =link_to "",artistshow_path(artist)
        .newartist--image
          - if artist.artistimage?
            = image_tag (artist.artistimage.url)
          - else
            = image_tag "/assets/default.png"
        .newartist--name
          = artist.artistname