.show-content
  .show-content__left
    .show-post__content--youtube
      %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "615", :src => "https://www.youtube.com/embed/#{@post.youtube_url.last(11)}", :width => "860"}
    .show-post__content__title
      = @post.title
    .show-post__content__tag
      タグ：
      - @post.tag_list.each do |tag|
        .show-post__content__tag--content
          = tag
    .show-post__content__text
      .text-title
        Artist comment...
      .text-content
        %p= @post.text
  .show-content__right
    .show-post__content__comment
      .show-post__content__comment--form
        - if listener_signed_in?
          = form_with model:[@post,@comment], local: true do |f|
            = f.text_field :comment, placeholder: "コメントする", class: "comment-input"
            = f.submit "SEND", class: "comment-submit"
        - else
          《 コメント一覧 》
      .show-post__content__comment--board
        - if @comments
          - @comments.each do |comment|
            .board--nickname
              = comment.listener.nickname.truncate(10)
              = date_format(comment.created_at)
            .board--comment
              = comment.comment
    .show-post__content__artist
      .show-post__content__artist--title
        PLAYING ARTIST
      .show-post__content__artist--image
        - if @post.artist.artistimage?
          = image_tag (@post.artist.artistimage.url)
        - else
          = image_tag "/assets/default.png"
      .show-post__content__artist--link
        =link_to "PROFILE...",artistshow_path(@post.artist_id)
