.header
  .header--logo
    = link_to "", root_path
    = image_tag "/assets/Uova-logo.png"
  .header__menu
    .header__menu--left
      %ul.header__left-lists
        %li.header__left-lists--first
          = link_to "seedについて", "#", class: "link"
    .header__menu--search
      = search_form_for @search, url: search_posts_path do |f|
        = f.text_field :text_or_title_cont , placeholder: "キーワード検索", class: 'search-input'
        = f.submit "検索", class: 'search-submit'
    .header__menu--right
      - if listener_signed_in? || artist_signed_in?
        %ul.header__lists
          %li.dropdown-btn
            %a.toggle メニュー
            - if listener_signed_in?
              %ul.dropdown
                %li.lists-logout
                  = link_to "ログアウト", destroy_listener_session_path, method: :delete , class: "link"
            - elsif artist_signed_in?
              %ul.dropdown
                %li.lists-logout
                  = link_to "ログアウト", destroy_artist_session_path , method: :delete , class: "link"
                %li.lists-mypage
                  = link_to "マイページ", artistshow_path(current_artist.id) , class: "link"
                %li.lists-post
                  = link_to "投稿", new_post_path , class: "link"
      - else
        %ul.header__lists
          %li.dropdown-btn
            %a.toggle ログイン
            %ul.dropdown
              %li= link_to "リスナー", new_listener_session_path , class: "link"
              %li= link_to "アーティスト", new_artist_session_path , class: "link"
        %ul.header__lists
          %li.dropdown-btn
            %a.toggle 新規登録
            %ul.dropdown
              %li= link_to "リスナー登録", new_listener_registration_path , class: "link"
              %li= link_to "アーティスト登録", new_artist_registration_path , class: "link"